services:
  postgres:
    image: postgres:17-alpine
    container_name: transactions-postgres
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=transactions
  transactions:
    container_name: transactions-api
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 5500:5500
    depends_on:
      postgres:
        condition: service_started
    environment:
      - ENVIRONMENT=local
      - DB_HOST=postgres
      - DB_USER=postgres
      - DB_PASS=postgres
      - DB_PORT=5432
      - DB_SSL_MODE=disable
      - DB_NAME=transactions
      - DB_POOL_MINIMUM=2
      - DB_POOL_MAXIMUM=10
      - PORT=5500
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4318
      - OTEL_EXPORTER_OTLP_PROTOCOL="http/protobuf"
      - OTEL_TRACES_EXPORTER="otlp"

  swagger:
    image: docker.swagger.io/swaggerapi/swagger-ui
    container_name: transactions-docs
    ports:
      - 8080:8080
    volumes:
      - ./openapi:/openapi
    environment:
      - SWAGGER_JSON=/openapi/openapi.json

  jaeger:
    image: jaegertracing/all-in-one:latest
    container_name: transactions-jaeger
    ports:
      - "16686:16686"
      - "4317:4317"
      - "4318:4318"
